
*{

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}


.left-container {


    width: 20%;
    height: 500px;
}


.div_right{

width: 100%;
    height: 500px;
}


.products-container {


    display: flex;
}